#selectedMonth {
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* set equal space between the name of the days */
.weekday {
    width: 11.5% !important;
    color: rgb(0, 0, 130) !important;
    background-color: #9fa8da;
    text-align: center;
    font-weight: normal;
}

.day {
    padding: 0 !important;
    width: 11.5% !important;
    text-align: center;
}
.empty {
    padding: 0 !important;
    width: 6% !important;
}

td {
    border: 0;
    padding: 10px !important;
}

th, td {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.event-component {
    width: 11.5% !important;
    color: rgb(0, 0, 130) !important;
    background-color: crimson;
    text-align: center;
    font-weight: normal;
}
